<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<%# Top画面を表示 %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">
    <div class="row">
      <div class="col-lg-10 col-md-12">
        <h1>HOME</h1>
      </div>
      <div class="col-lg-10 col-md-12 m-3">
        おかえりなさい． 「<%= session[:user_name] %>」さん．
      </div>
    </div>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>

<%# マニュアル表示部 %>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">
    <h4 class="mt-5">利用マニュアル</h4>
    <%# 利用者と管理者共通マニュアル %>
    <div class="card my-3">
      <%# カードヘッダー %>
      <div class="card-header">
        <h4>利用者と管理者共通マニュアル</h4>
      </div>
      <%# カードボディ %>
      <div class="card-body">
        <%# マニュアル %>
        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  グローバルナビゲーション
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．「HOME」，「TA一覧」，「科目一覧」，「ログアウト※」それぞれのボタンに関して，以降で詳細を記載します．<br>
            ※ログアウトボタンは，グローバルナビゲーション右端にあるユーザのマークをクリックすることで下に表示されるようになります．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  ログイン・ログアウト
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            <strong>ログイン</strong><br>
            管理者・利用者いずれの場合でも対応するリンクからアクセスすると，ログイン画面が表示されます．条件を満たすアカウント情報（ユーザ名とパスワード）を入力し，ログインボタンを押下します．入力されたアカウント情報がシステムに登録されている場合，ログインに成功し，HOME画面に推移します．また，そうでない場合は，ログインに失敗し，エラーメッセージが追加されたログイン画面が表示されます．<br><br>
            <strong>ログアウト</strong><br>
            グローバルナビゲーション右端にあるユーザのマークをクリックし，出てくるログアウトボタンを押下します．そうすると，管理者・利用者いずれの場合でも利用者のログイン画面が表示されます．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  HOME
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            HOMEはログイン後に表示される画面であり，利用マニュアルを確認することができます．確認したい項目を選択することで，文章の「展開 / 折りたたみ」の操作を行うことができます．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  TA一覧
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            TA一覧はTAの勤務割当の詳細を確認する，または，帳票出力を行う際に目的のTAを検索するために利用するものであり，全TAの一覧が表示されます．グローバルナビゲーション中の「TA一覧」を選択することで，TA一覧画面を表示することができます．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  科目一覧
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            科目一覧はTAの勤務割当を行いたい科目の閲覧，または，編集を行う際に目的の科目を検索するために利用するものであり，全科目の一覧が表示されます．グローバルナビゲーション中の「科目一覧」を選択することで，科目一覧画面を表示することができます．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  TA個人画面
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            TA個人画面は，特定のTAの勤務割当を確認する，または，帳票を出力する際に利用します．TA一覧画面で示される「個人画面」を選択することで表示することができます．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  TA勤務割当
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            TA勤務割当は特定のコースにおける勤務割当を行うものです．以下の手順で勤務割当から削除までを行うことができます．これらの操作は全て勤務割当編集画面において行います．<br>

            <strong>（1）TA候補追加<br>
            （2）TA勤務割当追加<br>
            （3）TA勤務割当編集<br>
            （4）TA勤務割当削除<br></strong>

            勤務割当編集画面へのアクセス方法として，まず，グローバルナビゲーション中の科目一覧を選択し，科目一覧を表示します．この際，TA時間割当（編集）画面が表示されます．編集ボタンを選択し，勤務割当編集画面へと遷移します．<br><br>

            <strong>TA候補追加・削除</strong><br>
            （1）TA候補追加<br>
            TA時間割当（編集）画面の「候補追加」を選択します．その際，候補追加画面に遷移します．このページにおいて勤務割当を行うTAをチェックリストから選択します．ここで選択したTA候補者は編集画面におけるTA選択のドロップダウンにおいて表示されるようになります．選択した候補者は「候補者として選択済み」と表記されます．<br>
            （2）TA候補削除<br>
            TA時間割当（編集）「候補削除」を選択し，候補削除画面に遷移します．このページにおいて候補者をチェックリストから選択し削除します．<br>
            ＊注意<br>
            削除しようとする候補者の勤務割当が既に存在する場合，その勤務割当も共に削除されます．<br><br>
            <strong>TA勤務割当追加</strong><br>
            TA時間割当（編集）画面の「勤務追加」を選択します．その際，同画面の勤務割当テーブル最上部に新たなレコードが追加されます．ここで追加されたレコードには，以下の項目と制約があります．<br>
            <strong>・項目</strong><br>
            （1）Dtstart：勤務開始時間<br>
            （2）Dtend：勤務終了時間<br>
            （3）Actual working minutes：実務時間(分)<br>
            （4）Assignment：割り当てるTA<br>
            <strong>・制約</strong><br>
            （1）Dtstart，Dtend，Actual working minutesは空欄を許容しない<br>
            （2）DtstartはDtendを越えない<br>
            （3）Actual working minutesは負の数を取らない<br>
            Assignmentに関しては，候補追加で選択したTAがドロップダウンで表示されます．この項目は必須ではなく，選択しない場合にはTAは空欄となります．勤務割当を保存するには，「操作」の「Create Work hour」を選択します．<br><br>

            <strong>TA勤務割当編集</strong><br>
            編集を行おうとするレコードの隣に表示されている「編集」を選択します．この時，TA時間割当（編集）画面のような編集画面が表示されます．項目と制約は，「TA勤務割当追加」の内容と同様です．編集を保存するには，「操作」の「Update Work hour」を選択してください．<br><br>

            <strong>TA勤務割当削除</strong><br>
            TA時間割当（編集）画面の「削除」を選択します．この際，本当に削除するかどうかのポップアップが表示されます．削除する場合は，「はい」を選択し削除を完了します．
          </div>
        </details>

        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  帳票出力
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            帳票確認のページには以下の箇所で遷移が可能です．各ページへのアクセス方法はそれぞれ，「TA個人画面」，「TA勤務割当」を参照してください．
            出力フォーマットには，様式1と様式2が存在し，必要なもののボタンを投下することでダウンロードすることが可能です．なお，様式1は非常勤職員採用予定者調書学生用で，様式2は勤務予定表です．帳票確認ページではトグル形式で出力内容を確認することができます．
          </div>
        </details>
      </div>
    </div>

    <% if session[:admin_flag] == true %>
    <%# 管理者マニュアル %>
    <div class="card my-3">
      <%# カードヘッダー %>
      <div class="card-header">
        <h4>管理者マニュアル</h4>
      </div>
      <%# カードボディ %>
      <div class="card-body">
        <%# マニュアル %>
        <details class="accordion manual-details" id="accordionExample">
          <summary class="card manual-summary">
              <h5 class="mb-0">
                <div class="btn btn-link">
                  マスタデータ追加・削除
                </div>
              </h5>
          </summary>
          <div id="collapseOne" class="card-body">
            マスタデータの追加・削除には，TAと科目の二つが用意されています．それぞれ，CSVファイルによる一括登録と直で入力する個別登録が存在し，「TA一覧画面」，「科目一覧画面」において操作を行うことができます．ページへのアクセス方法はそれぞれ，「TA一覧画面」，「科目一覧画面」を参照してください．<br><br>

            <strong>TAマスタデータ追加・削除</strong><br>
            管理者でログインを行っている場合，TA一覧画面は「TAデータを追加」と「TAデータ削除」の項目が追加表示されます．「TAデータを追加」を選択すると，新規TAマスタデータ追加画面に遷移します．

            ドロップダウンリストから，CSVファイルによる一括登録か直で入力する個別登録かを選択します．CSVファイルによる一括登録の場合は，CSVファイルを選択後「登録」ボタンを投下してください．削除の場合は，TA一覧画面の「TAデータ削除」を選択し，削除したい科目のボックスにチェックをつけ，削除をおこなってください．<br><br>

            <strong>科目マスタデータ追加・削除</strong><br>
            管理者でログインを行っている場合，科目一覧画面に「新規科目データ追加」と「科目マスタデータ削除」の項目が表示されます．「新規科目データ追加」を選択すると，科目マスタデータ追加画面に遷移します．

            ドロップダウンリストから，CSVファイルによる一括登録か直で入力する個別登録かを選択します．CSVファイルによる一括登録の場合は，CSVファイルを選択後「登録」ボタンを投下してください．削除の場合は，科目一覧画面の「科目マスタデータ削除」を選択し，削除したい科目のボックスにチェックをつけ，削除をおこなってください．
          </div>
        </details>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-lg-1 col-md-0"></div>
</div>

<style>
.manual-summary {
  position: relative;
  display: block; /* 矢印を消す */
  padding: 10px 10px 10px 30px; /* アイコンの余白を開ける */
  cursor: pointer; /* カーソルをポインターに */
  font-weight: bold;
  background-color: #e2f0f7;
  transition: 0.2s;
}
.manual-summary:hover {
  background-color: #ccebfb;
}
.manual-summary::-webkit-details-marker {
  display: none;　/* 矢印を消す */
}

/* 疑似要素でアイコンを表示 */
.manual-summary:before,
.manual-summary:after {
  content: "";
  margin: auto 0 auto 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.manual-summary:before {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #1da1ff;
}
.manual-summary:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .1s;
}

/* オープン時のスタイル */
.manual-details[open] .manual-summary {
  background-color: #ccebfb;
}
.manual-details[open] .manual-summary:after {
  transform: rotate(90deg); /* アイコンを回転 */
  left: 4px; /* 位置を調整 */
  top: 5px; /* 位置を調整 */
}

.card-body {
  margin: 30px;
}

/* アニメーション */
.manual-details[open] .details-content {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
</style>
