<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<%# Top画面を表示 %>
<h1>HOME</h1>
 おかえりなさい．
「<%= session[:user_name] %>」さん．
<br><br>

<div>
<h5 class="mb-0">
利用マニュアル
</div>
<br>
<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          グローバルナビゲーション
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          ログイン・ログアウト
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          Home
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          TA一覧
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          科目一覧
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          TA個人画面
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          TA勤務割当
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          帳票出力
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>

<details class="accordion" id="accordionExample">
  <summary class="card">
      <h5 class="mb-0">
        <div class="btn btn-link">
          マスタデータ追加・削除
        </div>
      </h5>
  </summary>
  <div id="collapseOne" class="card-body">
    本システムはグローバルナビゲーションを搭載しており，どこからでも任意のページに遷移することが可能となっています．以下の図２で示される「Home」，「TA一覧」，「科目一覧」，「ログアウト」に関して，以降の節で詳細を記載します．
  </div>
</details>


<style>
summary {
  position: relative;
  display: block; /* 矢印を消す */
  padding: 10px 10px 10px 30px; /* アイコンの余白を開ける */
  cursor: pointer; /* カーソルをポインターに */
  font-weight: bold;
  background-color: #e2f0f7;
  transition: 0.2s;
}
summary:hover {
  background-color: #ccebfb;
}
summary::-webkit-details-marker {
  display: none;　/* 矢印を消す */
}

/* 疑似要素でアイコンを表示 */
summary:before,
summary:after {
  content: "";
  margin: auto 0 auto 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
summary:before {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #1da1ff;
}
summary:after {
  left: 6px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .1s;
}

/* オープン時のスタイル */
details[open] summary {
  background-color: #ccebfb;
}
details[open] summary:after {
  transform: rotate(90deg); /* アイコンを回転 */
  left: 4px; /* 位置を調整 */
  top: 5px; /* 位置を調整 */
}

.card-body {
  margin: 30px;
}

/* アニメーション */
details[open] .details-content {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
