<h1>Editing assignment</h1>

<%= render "form", work_hour: @work_hour %>

<br>

<div>
  <%= link_to "Show this assignment", @assignment %> |
  <%= link_to "Back to assignments", course_assignment_path %>
</div>
