<%# ===================
===  使用していない  ====
=====================%>
<div id="<%= dom_id user %>">
  <p>
    <strong>Account name:</strong>
    <%= user.account_name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Admin flag:</strong>
    <%= user.admin_flag %>
  </p>

</div>
