<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">

    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>ユーザ情報</h2></div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row py-2">
    <div class="col-lg-1 col-md-12"><%= link_to '編集', edit_user_path(@user), class: 'btn btn-outline-primary py-2' %></div>
    <% if @user.id != 1 %>
      <div class="col-lg-1 col-md-12"><%= button_to '削除', user_path(@user), method: :delete, data: {turbo_confirm: "#{@user.account_name}さんを削除してもよろしいですか？"}, class: 'btn btn-outline-danger py-2' %></div>
    <% end %>
    <div class="col-lg-1 col-md-12"><%= link_to '戻る', users_path, class: 'btn btn-outline-primary py-2' %></div>
  </div>
</div>

<%= render @user %>

<style>
.button-margin {
  margin-right: 2px;
}
</style>
