<%# ===================
===  使用していない  ====
=====================%>
<p style="color: green"></p>
<div class="row">
  <div class="col-lg-1 col-md-0"></div>
  <div class="col-lg-10 col-md-12">

    <div class="row">
      <div class="col-lg-4 col-md-12"><h2>ユーザ情報</h2></div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row py-2">
    <div class="col-lg-1 col-md-12"><%= link_to '編集', edit_user_path(@user), class: 'btn btn-outline-primary py-2' %></div>
    <div class="col-lg-1 col-md-12"><%= button_to '削除', @user, method: :delete, class: 'btn btn-outline-primary py-2' %></div>
    <div class="col-lg-1 col-md-12"><%= link_to '戻る', users_path, class: 'btn btn-outline-primary py-2' %></div>
  </div>
</div>


<%= render @user %>

<style>
.button-margin {
  margin-right: 2px;
}
</style>
