<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-info mb-3 z-50">
  <a class="navbar-brand">Takin</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><%= link_to "HOME", top_page_path, method: :get, class: "nav-link" %></li>
      <li><%= link_to "TA一覧", teaching_assistants_path, method: :get, class: "nav-link" %></li>
      <li><%= link_to "科目一覧", courses_path, method: :get, class: "nav-link" %></li>
      <li><%= link_to "科目TA割当追加(開発用なので後で消す)", new_assignment_path, method: :get, class: "nav-link" %></li>
      <li><%#= link_to "割当勤務時間(開発用なので後で消す)", work_hours_path, method: :get, class: "nav-link" %></li>
      <li><%#= link_to "ユーザ(開発用なので後で消す)", users_path, method: :get, class: "nav-link" %></li>
    </ul>
  </div>
</nav>
